/* .svg-inline--fa {
    font-size: 100px;
}

.shake {
    animation: shake 0.30s;
    animation-iteration-count: 3;
}

@keyframes shake {
    0% { transform: translate(0px, 0px); }
    50% { transform: translate(10px, 0px); }
    100% { transform: translate(-10px, 0px); }
} */

.card {
    background: gray;
    border-radius: 3px;
    box-shadow: 0 2px 8px black, 0 2px 8px black;
    text-align: left;
    justify-content: center;
}

.card>.img-container {
    overflow: hidden;
    text-align: center;
    background: black;
    justify-content: center;
    margin: 30px;
}

.card>.img-container>img {
    widows: 150px;
}