body {
      background-image: url(/public/images/background.jpg);
    
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Sans-serif';
}

h3 {
  font-family: sans-serif;
  color: red;
}
